<!--
@templatename Example
@description Put your description on one line
@TVs ExampleTV

Repoman will automatically create a System Setting for your package's assets_url.  Make sure you
do not hard-code the URL to your assets!

-->
<html lang="en" class="">
<head>
    <title>[[*pagetitle]]</title>
    <link href="[[++yourpackage.assets_url]]sample.css" media="all" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <meta name="description" content="[[*description]]">
</head>
<body>
    <h1>[[*longtitle]]</h1>
    <hr/>
    [[*content]]
    <div>
        [[*ExampleTV]]
    </div>

</body>